// basic --------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff');

*{margin: 0; padding: 0;  box-sizing: border-box; list-style: none; 
}
*{scroll-behavior: smooth;}
// *a{color:#444444; text-decoration: none; cursor: pointer;}
// *{font-family:'Sawarabi Gothic','M PLUS 1',sans-serif;}

// basic --------------------------------------------


// var --------------------------------------------
$width-root:100vw;
$height-root:100vh;
$col-black:black;
$col-white:white;
$col-bright-gray:#ebebeb;
$col-gray:#D9D9D9;
$col-mid-gray :#BDBCBC;
$col-dark-gray:#838383;
$col-bg:#E9EDF0;
$col-mid-black:#6C6E70; 
$col-1:#FAFAFA;
$col-2: #c2c2c2;
$col-3: #444444;
$col-4: #2A3BD9;
$col-5: #FF0000;
$col-6: #D3568A;
$col-7: #B8648E;
$col-8: #EBEBEB;
$per-100:100%;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$solid-pink:1px solid #FFAE9B;
$solid-blue:1px solid #4f508b;
$dotted-color:1px dotted #3b3e49;
$dotted-pink:1px dotted #FFAE9B;
// var --------------------------------------------


//  mixin ------------------------------------------
@mixin posi($posi, $top:0, $left:0, $zindx:100) {
  position: $posi;
  top: $top;
  left: $left;
  z-index: $zindx;
}

@mixin flex($jus, $ali, $flexdirection : row) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
  flex-direction: $flexdirection;
}

@mixin root {
  width: var.$width-root;
  height: var.$height-root;
}  


@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col, $radius : 0) {
  width: $w;
  height: $h;
  background-color: $col;
  border-radius: $radius;
}


@mixin font($rem, $weight, $col) {
  font-size: $rem ;
  font-weight: $weight;
  color: $col;
}

@mixin menu-style($col, $opacity, $mode:horizontal-tb, $orientation:unset) {
  padding-top: 2vh;
  writing-mode: $mode;
  text-orientation: $orientation;
  position: fixed;
  background-color: $col;
  opacity: $opacity;
  border-radius: 30px 0 0 30px;
}

@mixin container-style($w, $h, $jus, $ali, $flexdirection : row) {
  width: $w;
  height: $h;
  display: flex;
  justify-content: $jus;
  align-items: $ali;
  flex-direction: $flexdirection;
}

//  mixin ------------------------------------------

#root{
  @include container-style(100vw, 28910px, center, center, column);
}

.main{
  @include container-style(1000px, 1600px, center, center, column);
  border: solid 2px darkcyan;
  margin-bottom: 40px;
  background-image: url(./img/main_bg.jpg);
  font-family: "Noto Serif KR";

  &>div:first-child{
    @include container-style(880px,160px, flex-start, center );
    flex-shrink: 0;
    @include font(52px, 250, #fff);
  }

  &>div:last-child{
    @include container-style(880px,360px, center, center,column );
    
    &>p:nth-child(1){
      @include container-style(100%,120px, flex-start, center );
      @include font(80px, 700, #fff);
    }
    
    &>p:nth-child(2){
      @include container-style(100%,60%, flex-start, center );
      @include font(96px, 700, #fff);
    }
  }
}

.outline{
  @include container-style(1000px, 2000px, center, center, column);
  border: solid 2px salmon;
  margin-bottom: 40px;
}

.test_point{
  @include container-style(1000px, 600px, center, center, column);
  border: solid 2px saddlebrown;
  margin-bottom: 40px;
}

.point_effect{
  @include container-style(1000px, 1600px, center, center, column);
  border: solid 2px cornflowerblue;
  margin-bottom: 40px;
}

.point1{
  @include container-style(1000px, 9050px, center, center, column);
  border: solid 2px burlywood;
  margin-bottom: 80px;
}

.point2{
  @include container-style(1000px, 3240px, center, center, column);
  border: solid 2px lawngreen;
  margin-bottom: 40px;
}

.point3{
  @include container-style(1000px, 3600px, center, center, column);
  border: solid 2px palegreen;
  margin-bottom: 40px;
}

.special{
  @include container-style(1000px, 1420px, center, center, column);
  border: solid 2px palevioletred;
}

.refresh_part{
  @include container-style(1000px, 1360px, center, center, column);
  border: solid 2px plum;
  margin-bottom: 60px;
}

.notice{
  @include container-style(1000px, 1400px, center, center, column);
  border: solid 2px peru;
  margin-bottom: 60px;
}

.recommend{
  @include container-style(1000px, 2600px, center, center, column);
  border: solid 2px orange;
}





