@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: 28910px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 1000px;
  height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px darkcyan;
  margin-bottom: 40px;
  background-image: url(./img/main_bg.jpg);
  font-family: "Noto Serif KR";
}
.main > div:first-child {
  width: 880px;
  height: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 52px;
  font-weight: 250;
  color: #fff;
}
.main > div:last-child {
  width: 880px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main > div:last-child > p:nth-child(1) {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}
.main > div:last-child > p:nth-child(2) {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
}

.outline {
  width: 1000px;
  height: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px salmon;
  margin-bottom: 40px;
}

.test_point {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px saddlebrown;
  margin-bottom: 40px;
}

.point_effect {
  width: 1000px;
  height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px cornflowerblue;
  margin-bottom: 40px;
}

.point1 {
  width: 1000px;
  height: 9050px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px burlywood;
  margin-bottom: 80px;
}

.point2 {
  width: 1000px;
  height: 3240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px lawngreen;
  margin-bottom: 40px;
}

.point3 {
  width: 1000px;
  height: 3600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px palegreen;
  margin-bottom: 40px;
}

.special {
  width: 1000px;
  height: 1420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px palevioletred;
}

.refresh_part {
  width: 1000px;
  height: 1360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px plum;
  margin-bottom: 60px;
}

.notice {
  width: 1000px;
  height: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px peru;
  margin-bottom: 60px;
}

.recommend {
  width: 1000px;
  height: 2600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px orange;
}/*# sourceMappingURL=style.css.map */