@use './var'as var;
@use './mixin' as mixin;
// @use './basic';
// -------------------------------------------

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root{
  @include mixin.container-style(1240px, 1240px, center, center);
  // background-color: black;

  &>div:first-child{
    @include mixin.container-style(1250px, 1240px, space-around, center,column);
    // border: solid 1px cadetblue;
    @include mixin.bg-img(url(https://cdn.imweb.me/upload/S20240130b5528bd22789f/8fc6da58753d9.png),cover );
  }

  .coupon{
    &>div:nth-child(1){
      @include mixin.container-style(80%, 70%, space-around, center,column);
      // background-color: antiquewhite;
      
      &>div:nth-child(1){
        @include mixin.container-style(100%, 20%, center, center);
        // border: solid coral 2px;
      }

      &>div:nth-child(2){
        @include mixin.container-style(100%, 35%, center, center);
        border-top: dashed #CC5D7D 3px;
        border-bottom: dashed #CC5D7D 3px;
      }

      &>div:nth-child(3){
        @include mixin.container-style(100%, 25%, space-between, center,column);
        text-align: center;
        // border: solid 2px brown;
        &>div:first-child{
          @include mixin.container-style(100%, 30%, center,center);
          // border: solid 1px green;
          @include mixin.font('S-CoreDream-3Light', 52px, 600, var.$col-3);
        }

        &>div:last-child{
          @include mixin.container-style(100%, 55%, center,center);
          @include mixin.font('S-CoreDream-3Light', 32px, 500, var.$col-3);
          line-height: 1.5;
          // border: solid 1px green;
        }
      }
    }

    &>div:nth-child(2){
      @include mixin.container-style(80%, 25%, center,center);
      // background-color: royalblue;
      &>p{
        @include mixin.container-style(100%, 70%, center, center);
        // border: solid 2px white;
        @include mixin.font('S-CoreDream-3Light', 40px, 560, var.$col-1);
        text-align: center;
        line-height: 1.5;
      }
    }
  }

}

@media (min-width: 700px){
  #root{
    @include mixin.container-style(480px, 600px, center, center);

    &>div:first-child{
      @include mixin.container-style(450px, 480px, space-around, center,column);

      &>div:nth-child(1){
        @include mixin.container-style(100%, 70%, space-evenly, center,column);
        
        &>div:nth-child(1){
          @include mixin.container-style(90%, 15%, center, center);
          &>img{
            @include mixin.size(100%, auto); 
          }
        }
  
        &>div:nth-child(2){
          @include mixin.container-style(90%, 45%, center, center);
          border-top: dashed #CC5D7D 1.5px;
          border-bottom: dashed #CC5D7D 1.5px;
          &>img{
            @include mixin.size(100%, auto); 
          }
        }
  
        &>div:nth-child(3){
          @include mixin.container-style(100%, 25%, space-between, center,column);

          &>div:first-child{
            @include mixin.container-style(90%, 35%, center,center);
            @include mixin.font('S-CoreDream-3Light', 22px, 600, var.$col-3);
          }
  
          &>div:last-child{
            @include mixin.container-style(90%, 50%, center,center);
            @include mixin.font('S-CoreDream-3Light', 14px, 500, var.$col-3);
            line-height: 1.2;
          }
        }
      }
  
      &>div:nth-child(2){
        @include mixin.container-style(100%, 25%, center,center);
        &>p{
          @include mixin.container-style(90%, 80%, center, center);
          @include mixin.font('S-CoreDream-3Light', 16px, 560, var.$col-1);
          text-align: center;
          line-height: 1.8;
        }
      }
    }
  }

}