@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Sawarabi+Gothic&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
*{margin: 0; padding: 0;  box-sizing: border-box; list-style: none; 
  }
// *{transition:1s;}
*{scroll-behavior: smooth;}
*a{color:#444444; text-decoration: none; cursor: pointer;}
*{font-family:'Sawarabi Gothic','M PLUS 1',sans-serif;}