$width-root:100vw;
$height-root:100vh;
$col-black:black;
$col-white:white;
$col-bright-gray:#ebebeb;
$col-gray:#D9D9D9;
$col-mid-gray :#BDBCBC;
$col-dark-gray:#838383;
$col-bg:#E9EDF0;
$col-mid-black:#6C6E70; 
$col-1:#FAFAFA;
$col-2: #c2c2c2;
$col-3: #444444;
$col-4: #2A3BD9;
$col-5: #FF0000;
$col-6: #D3568A;
$col-7: #B8648E;
$col-8: #EBEBEB;
$per-100:100%;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$solid-pink:1px solid #FFAE9B;
$solid-blue:1px solid #4f508b;
$dotted-color:1px dotted #3b3e49;
$dotted-pink:1px dotted #FFAE9B;