@use './var'as var;
@use './mixin' as mixin;
// -------------------------------------------


#root{
  @include mixin.container-style(100vw,auto, center,center);
}

#container{
  @include mixin.container-style(1000px, 1400px, space-evenly, center, column);

  &>div:nth-child(1){
    @include mixin.container-style(860px, 80px, flex-start, center);
    @include mixin.font(28px, 600, #000);
    font-family: "Noto Sans KR", sans-serif;
    border-bottom: solid 4px black;
  }

  &>div:nth-child(2){
    @include mixin.container-style(740px, 1140px, space-between, center, column);
  }
}

.part1{
  @include mixin.container-style(100%, 320px, space-between, center);

  &>div{
    @include mixin.container-style(240px, 100%, center, space-around,column);
    &>p{
      @include mixin.font(20px, 600, #000);
      font-family: "Noto Sans KR", sans-serif;
      text-align: justify
    }
  }
  &>img{
    @include mixin.size(480px, 100%);
  }
}

.part2{
  @include mixin.container-style(740px, 760px, space-around, center, column);

  &>div{
    @include mixin.container-style(100%, 440px, center, center);
    text-align: justify;
    @include mixin.font(18px, 400, #000);
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: 0.4px

  }
  &>img{
    @include mixin.size(400px, 260px);
  }
}
